/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #232438;
    background-alt: #11111b;
    foreground:     #ffffff;
    selected:       #b4befe;
    active:         #e8d2ff;
    urgent:         #F28FADFF;
}
